secretfile filter=git-crypt diff=git-crypt
*.tfvars filter=git-crypt diff=git-crypt
env-ingress/**/*.yml filter=git-crypt diff=git-crypt
env-ingress/*.yml filter=git-crypt diff=git-crypt
k8s-resources/grafana/config.yml filter=git-crypt diff=git-crypt
k8s-resources/kibana/auth-proxy/envs/**/* filter=git-crypt diff=git-crypt
