apiVersion: kops/v1alpha2
kind: InstanceGroup
metadata:
  labels:
    kops.k8s.io/cluster: ${cluster_dns_name}
  name: ${name}
spec:
  additionalSecurityGroups:
  - ${additional_security_group}
  associatePublicIp: false
  image: ${image}
  machineType: ${machine_type}
  maxSize: ${max_size}
  minSize: ${min_size}
  role: ${role}
  rootVolumeSize: ${root_volume_size}
  subnets:
${subnets}
